asgiref==3.7.2
click==8.1.7
Django==4.2.5
django-activity-stream==2.0.0
django-qrcode==0.3
djangorestframework==3.14.0
drf-yasg==1.21.7
exceptiongroup==1.1.3
inflection==0.5.1
iniconfig==2.0.0
mypy-extensions==1.0.0
numpy==1.26.1
opencv-python==4.8.1.78
packaging==23.1
pathspec==0.11.2
Pillow==10.1.0
platformdirs==3.10.0
pluggy==1.3.0
psycopg2-binary==2.9.7
pycodestyle==2.11.0
pypng==0.20220715.0
pytest==7.4.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzbar==0.1.9
qrcode==7.4.2
sqlparse==0.4.4
svgwrite==1.4.3
tomli==2.0.1
Tree==0.2.4
typing_extensions==4.8.0
uritemplate==4.1.1
